 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  margin-left: 80px;
  margin-left: 80px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  height: 90px;
}
.container h1 {
    float: left;
    font-size: 38px;
    color: hsla(5, 100%, 46%, 1);
    line-height: 1;
    letter-spacing: -1px;
    font-family: 'Droid Serif', serif;
}
.container p {
    padding-left: 80px;
     float: left;
    font-size: 12px;
    width: 250px;
    border: 1px solid;
    background-width: 1px;
    background-color: hsla(5, 0%, 91%, 1);
}
.container p:first-child {
    float: left;
    font-size: 10px;
    width: 250px;
    border: 1px solid;
    background-width: 1px;
    background-color: hsla(5, 0%, 91%, 1);
}

.boxleft {
  clear: both;
  float: left;
  width: 150px;
  background-color: white;
}
.boxleft li {
  list-style: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: blue;
}

.boxleft .itemtype p {
  font-size: 15px;
  font-weight: bold;
}

.price {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

