 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  font-family: 'Open Sans', sans-serif;
      margin-left: 80px;
          width: 1200px;


}
.container {
    height: 80px;
}
.container h1 {
    float: left;
    font-size: 38px;
    color: hsla(5, 100%, 46%, 1);
    line-height: 1;
    letter-spacing: -1px;
    font-family: 'Droid Serif', serif;
}
.container p {
    margin-top: 25px;
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    float: left;
    font-size: 13px;
    width: 300px;
    border: 1px solid;
    border-radius: 4px;
    background-color: hsla(24, 6%, 92%, 1);
    box-shadow: 1px 1px 3px;
}
ul li:nth-child(1) {
    float: left;
    list-style-type: none;
    background-color: aqua;
    font-size: 12px;
    width: 15px;
    height: 15px;
    padding-left: 90px;
}
ul li:nth-child(2) {
    list-style-type: none;
    float: left;
    font-size: 12px;
    width: 15px;
    height: 15px;
    padding-left: 250px;
    overflow: hidden;
}

// BEGINNING OF BOX LEFT
.boxleft {
  float: left;
  margin-left: 0px;
  width: 180px;
  height: 10000px;
  padding-right: 25px;
  padding-left: 10px;
  background-color: white;
}
.itemtype {
  line-height: 200%;
}
.boxleft li {
  list-style: none;
  margin-left: 0px;
  font-size: 13px;
  line-height: 150%;
  padding-left: 10px;
  color: hsla(192, 99%, 36%, 1);
}
.boxleft p {
  font-size: 14px;
  font-weight: bold;
}
// END OF BOXLEFT

.productbox {
  margin-top: 12px;
  margin-right: 12px;
  width: 250px;
  float: left;
  height: 280px;
  overflow: hidden;
}

// BEGINNING OF BOXRIGHT

.productbox h3 {
  margin: auto;
  float: clear;
  list-style: none;
  font-size: 13px;
  font-style: bold;
  margin-bottom: -15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

img {
  width: 230px;
  height: 200px;
}

.productbox h4 {
  font-size: 12px;
  font-weight: normal;
  color: hsla(22, 6%, 81%, 1);
  float: left;
}
.productbox h5 {
  font-size: 12px;
  font-weight: normal;
  color: green;
  float: right;
  padding-right: 12px;
}
//  END OF HEADER

